:root {
  --primario: #d5f4e6;
  --secundario: #cecece;
  --claro: #ffffff;
  --oscuro: #618685;
  --rojo: #00ff0d;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--secundario);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.navbar {
  font-size: 2rem;
  background-color: var(--oscuro);
}
.navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 30rem;
  color: var(--claro);
}
.nav-bar:hover {
  color: var(--secundario);
}
.navbar-collapse {
  justify-content: end;
}
.nav-link {
  color: var(--claro);
}

.inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80rem, 1fr));
  gap: 5rem;
  background-color: var(--secundario);
}
.ingreso {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--oscuro);
  margin: 5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.gastos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--oscuro);
  margin: 5rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.form-label {
  font-size: 1.8rem;
}
.form-control {
  width: 25rem;
  font-size: 1.8rem;
}
.btn {
  background-color: var(--oscuro);
  font-size: 1.8rem;
  border: none;
  margin: 1rem;
}
.btn:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
.totales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: var(--secundario);
}
.totalIngresos {
  border: 1px solid var(--oscuro);
  padding: 2rem;
  border-radius: 0.3rem;
}
.totalGastos {
  border: 1px solid var(--oscuro);
  padding: 2rem;
  border-radius: 0.3rem;
}
.totales h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
.saldo {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: var(--secundario);
}
.saldoTotal {
  border: 1px solid var(--oscuro);
  padding: 2rem;
  border-radius: 0.3rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lista {
  font-size: 1.8rem;
  text-transform: uppercase;
  list-style: none;
}
.totalIngresos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalIngresos p {
  font-size: 1.8rem;
}
.totalGastos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalGastos p {
  font-size: 1.8rem;
}
.saldoTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saldoTotal p {
  font-size: 1.8rem;
}
#mensaje {
  display: none;
}
@media (max-width: 800) {
  .inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    background-color: var(--secundario);
  }
}
